# Directory for public releases
/public

# Project files
*.xcf
*.blend

# Temp project files
*.tmp
*.bphys
*.gz
*.mtl
*.blend1

# Windows dir thumbnail cache
Thumbs.db

# Archive files
*.zip
*.rar
*.7z
